<form [formGroup]="pessoaForm" (ngSubmit)="onSubmit()" (ngChange)="ngOnChanges()">
<div class="gerenciar-painel painel bxz">
        <nav class="gerenciar-nav">  
            <ul class="menu-gerenciar">
                <li class="bxz" id="opcoes-menu">
                    <p class="font1 fw700 titulo-lateral"></p>
                </li>
                <li class="bxz active" id="pessoas-menu">
                    <p class="font1 fw700">Manter Pessoas</p>
                </li> 
            </ul>
        </nav>
        <div class="gerenciar-painel-interna">
            <nav class="abas-gerenciar"> 
                <div class="aba abactive2">
                    <p class="fw700 font1">Gerenciar<span class="fw500 font1 fsit" id="titulo-gerenciar"> -  Manter Pessoas</span>
                    </p>
                </div>
            </nav>
            <div class="voltar" (click)="voltar()"></div>
            <p class="titulo-painel-gerenciar pl font1 fw700">Manter Pessoas</p>
            <div class="conteudopainel criar-nova-pessoa painel-active">
                    <div class="campo common bxz pl cpfPessoa">
                        <p class="titulo-campo font1 fw700">Numero do CPF:</p>
                        <input value="0" id="id-pessoa" class="hidden">
                        <input name="criarPessoaCpf" (change)="buscarPessoaPorCPF()" formControlName="numCpf" value="{{pessoa.numCpf}}" maskInput='999.999.999-99' class="form-control inputfocus font1 fw500 bxz" required id="numCpf" placeholder="Ex: 000.000.000-98 " type="text" maxlength="14" autocomplete="off">
                    </div>
                    <div class="campo common bxz pl">
                        <p class="titulo-campo font1 fw700">Nome da Pessoa:</p>
                        <input name="criarPessoaNome" formControlName="nmePessoa" required value={{pessoa.nmePessoa}} class="form-control inputfocus font1 fw500 bxz" id="criar-pessoa-nome" requerido="true" placeholder="Ex: João da Silva" type="text">
                    </div>
                    <div class="campo common bxz pl">
                        <p class="titulo-campo font1 fw700">Numero do RG:</p>
                        <input name="criarPessoaRg" formControlName="numRg" required id="criar-pessoa-rg" placeholder="Ex: 0.000.000" type="text">
                    </div>
                    <div class="campo common bxz pl">
                        <p class="titulo-campo font1 fw700">Data de emissão do RG:</p>
                        <input name="criarPessoaEmissaoRg" required formControlName="dtaEmissaoRg" value={{pessoa.dtaEmissaoRg}}  class="form-control inputfocus font1 fw500 bxz"  id="criar-pessoa-emissao-rg" placeholder="Ex: 28/01/2011" type="date" maxlength="10" autocomplete="off">
                    </div>
                    <div class="campo common bxz pl">
                        <p class="titulo-campo font1 fw700">Orgão de emissão do RG:</p>
                        <input name="criarPessoaOrgaoRg" required formControlName="orgEmissaoRg" value={{pessoa.orgEmissaoRg}} class="form-control inputfocus font1 fw500 bxz" id="criar-pessoa-orgao-rg" placeholder="Ex: Policia Civil" type="text">
                    </div>
                    <div class="campo common bxz pl">
                        <p class="titulo-campo font1 fw700">Nº de Telefone:</p>
                        <input name="criarPessoaTelefone" maskInput="(99) 9999-99990" required formControlName="numTelefone" value={{pessoa.numTelefone}} class="form-control inputfocus font1 fw500 bxz" id="criar-pessoa-telefone" placeholder="Ex: XX 00000-0000" type="text" maxlength="15" autocomplete="off">
                    </div>
                    <div class="campo common bxz pl">
                        <p class="titulo-campo font1 fw700">Nº de Celular:</p>
                        <input name="criarPessoaCelular" maskInput="(99) 9999-99990" required formControlName="numCelular" value={{pessoa.numCelular}} class="form-control inputfocus font1 fw500 bxz" id="criar-pessoa-celular" placeholder="Ex: XX 00000-0000" type="text" maxlength="16" autocomplete="off">
                    </div>
                    <div class="campo common bxz pl">
                        <p class="titulo-campo font1 fw700">Endereço de Email Particular:</p>
                        <input name="criarPessoaEmailParticular" required formControlName="emlParticular" value={{pessoa.emlParticular}}  class="form-control inputfocus font1 fw500 bxz" id="criar-pessoa-email-particular" requerido="true" email="true" placeholder="Ex: joao.silva@email.com" type="text">
                    </div>
                    <div class="campo common bxz pl">
                        <p class="titulo-campo font1 fw700">Endereço de Email Institucional:</p>
                        <input name="criarPessoaEmailInstitucional" required formControlName="emlInstitucional" value={{pessoa.emlInstitucional}} class="form-control inputfocus font1 fw500 bxz" id="criar-pessoa-email-institucional" email="true" requerido="true" placeholder="Ex: joao.silva@mp.com" type="text">
                    </div> 
                <div class="campo bxz pl">
                    <p class="titulo-campo pessoa-operacao font1 fw700">Deseja salvar?</p>
                    <input   [disabled]="pessoaForm.invalid" type="submit" name="criarPessoa" class="font1 fw700 botao-verde pessoa-operacao-button" id="cadastrar-pessoa" value="Salvar">
                    <div *ngIf="msgErro" class="alert alert-danger ">{{msgErro}}</div>
                </div>
            </div>
        </div>
    </div>
</form>