<div *ngIf="empresa">
    <form [formGroup]="entidageGestoraForm" (ngSubmit)="onSubmit()" class="criar-grupo-form" method="post">
        <nav class="abas abas-empresa">
            <div class="aba abactive2">
                <p class="fw700 font1"> Cadastro Entidade Gestora - {{empresa.nmeEmpresa}}({{empresa.sglEmpresa}}) </p>
            </div>
        </nav>
        <div class="voltar" (click)="voltar()"></div>
        <p class="titulo-painel pl font1 fw700"></p>
        <div [hidden]="(etapa == 1 ? false : true)" class="conteudopainel criar-grupo">
            <div class="form-group campo bxz pl">
                <p class="titulo-campo font1 fw700">Tipo de Entidade Gestora:</p>
                <select class="form-control" formControlName="fkTipoGestao" class="inputfocus font1 fw500 bxz" required placeholder="Selecione o tipo de Entidade Gestora">
                    <option value="">---Selecione---</option>
                    <option *ngFor="let tipogestao of listatipoGestao" [value]="tipogestao.id">{{tipogestao.nmeTipoGestao}}</option>
            </select>
            </div>
            <div class="form-group campo bxz pl">
                <p class="titulo-campo font1 fw700">Local da Reunião:</p>
                <input name="local-reuniao" formControlName="lclReuniao" class="inputfocus font1 fw500 bxz" type="text">
            </div>
            <div class="form-group campo bxz pl">
                <p class="titulo-campo font1 fw700">Periodicidade da Reunião:</p>
                <select formControlName="rnuPeriodicidade" class="inputfocus font1 fw500 bxz">
                    <option value="">---Selecione---</option>
                    <option value="0">Semanal</option>
                    <option value="1">Mensal</option>
                    <option value="2">Bimestral</option>
                    <option value="3">Trimestral</option>
                    <option value="4">Semestral</option>
                    <option value="5">Anual</option>
                </select>

            </div>
            <div class="campo bxz pl">

                <input type="button" [disabled]="validarEtapa1()" (click)="etapa2()" name="passo1" class="font1 fw700 botao-verde" id="passo1"
                    value="Proximo Passo">
            </div>

        </div>

        <div [hidden]="(etapa == 2 ? false : true)" class="conteudopainel criar-grupo-2">
            <div class="form-group  campo2 bxz pl">
                <p class="titulo-campo font1 fw700">Nº de Titulares</p>
                <input required formControlName="numVagasTitular" class="inputfocus font1 fw500 bxz" type="number" placeholder="0">
            </div>
            <div class="form-group  campo2 bxz pl">
                <p class="titulo-campo font1 fw700">Nº de Suplentes</p>
                <input name="quantidadeSuplentes" required formControlName="numSuplentes" class="inputfocus font1 fw500 bxz" type="number"
                    placeholder="0" id="numero-suplentes">
            </div>
            <div class="form-group  campo2 bxz pl">
                <p class="titulo-campo font1 fw700">Nº de Reconduções</p>
                <input name="quantidadeReconducao" required formControlName="numRecond" class="inputfocus font1 fw500 bxz" type="number"
                    placeholder="0" id="numero-reconducoes">
            </div>
            <div class="form-group campo2 bxz pl">
                <div class="mt25">
                    <input (change)="mudarStsMandatoUnificado()" formControlName="stsMandatoUnificado" type="checkbox">
                    <label class="checkbox-label fw700 font1" for="mandato-unificado">Mandato Unificado</label>
                </div>
            </div>
            <div *ngIf="stsMandatoUnificadoTest">
                <div class=" form-group campo bxz pl">
                    <p class="titulo-campo font1 fw700">Inicio do Mandato:</p>
                    <input name="inicio-mandato" required formControlName="dtaInicio" class="font1 fw500 bxz" type="month" placeholder="Ex: 15/04/1999"
                        autocomplete="off">
                </div>
                <div class=" form-group campo bxz pl">
                    <p class="titulo-campo font1 fw700">Fim do Mandato:</p>
                    <input name="fim-mandato" required formControlName="dtaFim" class="font1 fw500 bxz" type="month" placeholder="Ex: 15/04/1999"
                        autocomplete="off">
                </div>
            </div>
            <div class="form-group  campo bxz pl">
                <p class="titulo-campo remuneracao-campo font1 fw700">Remuneração Base:</p>
                <input formControlName="vlrRemuneracaoBase" maskCurrency class="inputfocus font1 fw500 bxz" placeholder="Ex: R$ 15.000,00"
                    type="text">
            </div>
            <div class="campo bxz pl">

                <input type="button" [disabled]="validarEtapa2()" (click)="etapa3()" name="passo2" class="font1 fw700 botao-verde" id="passo2"
                    value="Proximo Passo">
            </div>
        </div>

    </form>
</div>


<div [hidden]="(etapa == 3 ? false : true)" class="overlay adicionar-vaga">
    <div class="modal">
        <div class="botao-fechar-modal" (click)="etapa2()"></div>
        <table id="table-cargos" style="width:100%">
            <tbody>
                <tr class="cabecalho-modal">
                    <th class="fw900 font1">Nº da Vaga</th>
                    <th class="fw900 font1">Tipo da Vaga</th>
                    <th class="fw900 font1">Cargo</th>
                    <th class="fw900 font1">Indicante</th>
                    <th class="fw900 font1">Observação</th>
                    <th class="fw900 font1">Remuneração</th>
                    <th class="fw900 font1">Inicio Mdto.</th>
                    <th class="fw900 font1">Fim Mdto.</th>
                    <th class="fw900 font1">Excluir</th>
                </tr>

                <tr *ngFor="let vagaForm of listaVagasForm" [formGroup]="vagaForm" class="table-conteudo">
                    <td class="form-group fw700 font1"> {{vagaForm.controls.nroVaga.value}} </td>
                    <td class=" form-group fw700 font1"> {{vagaForm.controls.tpoVaga.value}} </td>
                    <td class="fw500 form-group   font1">
                        <select class="fw500 selectTitulares font1 inputtb" required formControlName="fkCargo">
                                <option value="">---Selecione---</option>
                                <option *ngFor="let cargo of listadeCargos" value="{{cargo.id}}" >
                                    {{cargo.nmeCargo}}
                                  </option>
                                </select>
                    </td>
                    <td class="fw500 form-group   font1">
                        <select class="fw500 selectTitulares font1 inputtb" required formControlName="fkIndicante">
                                <option value="">---Selecione---</option>
                                <option *ngFor="let indicante of listadeIndicantes" value="{{indicante.id}}" >
                                    {{indicante.nmeIndicante}}
                                  </option>
                                </select>
                    </td>
                    <td class="fw500 form-group font1">
                        <input type="text" class="fw500 font1 inputtb descricao" formControlName="descVaga">
                    </td>
                    <td class="fw500 form-group font1">
                        <input type="text" maskCurrency formControlName="vlrRemuneracaoBaseVaga" class="inputtb fw500 remuneracaoTitular font1" placeholder="Ex.: 15000.00">
                    </td>
                    <td class="fw500 form-group font1">
                        <input type="month" formControlName="dtaInicio" class="inputtb fw500 inicioTitular font1">
                    </td>
                    <td class="fw500 form-group font1">
                        <input type="month" formControlName="dtaFim" class="inputtb fimTitular fw500 font1">
                    </td>
                    <td class="fw500 font1">
                        <div class="excluir" (click)="excluirVaga(vagaForm.controls.nroVaga)"></div>
                    </td>
                </tr>



            </tbody>
        </table>

        <input [disabled]="validarVagas()" (click)="cadastrarEntidadeGestora()" type="submit" name="salvar" id="criar-cargo" class="font1 fw700 botao-verde2 center"
            value="Criar Vagas">
    </div>
</div>